<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-default devise-bs">
    <div class="panel-heading">
      <h4>
        <%= form.label :title %>
      </h4>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, id: :movie_title, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, id: :movie_description, rows:4, class: 'form-control'  %>
      </div>

      <div class="form-group">
        <%= form.label :rating %>
        <%= form.number_field :rating, id: :movie_rating, class: 'form-control'  %>
      </div>

      <div class="form-group">
        <%= form.label :runtime %>
        <%= form.number_field :runtime, id: :movie_runtime, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :released %>
        <%= form.date_field :released, id: :movie_released, class: 'form-control'  %>
      </div>

      <div class="form-group">
        <%= form.label :url %>
        <%= form.text_field :url, id: :movie_url, class: 'form-control'  %>
      </div>
<!--
      <div class="form-group">
        <%= form.label :checked_out_to_id %>
        <%= form.select :checked_out_to_id, options_for_select(@users.all.map{|s|[s.name, s.id]}), :include_blank => true, class: 'form-control' %>    
      </div>
-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
