<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Runtime</th>
      <th>Released</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><b><%= link_to movie.title, movie %></b></td>
        <td><i><%= movie.description %></i></td>
        <td><%= movie.rating %> stars</td>
        <td><%= movie.runtime %> min</td>
        <td><%= movie.released %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path, :class => 'btn btn-primary' %>