<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4>
      <%= link_to @movie.title, @movie.url %>
    </h4>
  </div>
  <div class="panel-body">
      <div class="form-group">
        <p>
          <strong>Description:</strong>
          <%= raw @movie.description %>
        </p>
      </div>
      <div class="form-group">
        <p>
          <strong>Rating:</strong>
        <% if !@movie.rating.nil? %>  
          <% for i in 0...@movie.rating do %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% end %>
        <% end %>
        </p>
      </div>
      <div class="form-group">
        <p>
          <strong>Runtime:</strong>
          <%= @movie.runtime %> minutes.
        </p>
      </div>      
      <div class="form-group">
        <p>
          <strong>Released:</strong>
          <%= @movie.released %>
        </p>
      </div>            
      <div class="form-group">
        <p>
        <% if @checkout_status == "Available!" %>
          <%= button_to "Check Out!", { :controller => "movies", :action => "checkout"}, class: 'btn btn-primary' %>
        <% elsif @checkout_status == "You currently have this movie" %>
          <%= button_to "Return Movie", { :controller => "movies", :action => "checkin"}, class: 'btn btn-primary' %>
        <% else %>
          <strong>
            <%= @checkout_status %>
          </strong>
          <br/>
          <i>Coming soon: add yourself to waiting list</i>
        <% end %>
        </p>
      </div>               
    </div>
  </div>
<% if @current_user.admin %>
<%= link_to 'Edit', edit_movie_path(@movie), :class => 'btn btn-default' %> 
<% end %>
<%= link_to 'Back', movies_path, :class => 'btn btn-default' %> 
